<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <b>RATE: $1000</b>
    <br/>
    <span style="color: #3335D3">Dims:</span> {{ letter.dims }} in
    <br/>
    <br/>
    <b>MC: 1220386</b>
    <br/>
    <span style="color: #3335D3">Miles out:</span> {{ letter.miles }}
    <br/>
    <span style="color: #3335D3">Eta to Pick-Up:</span> {{ letter.eta_to_pick_up }}4 hours 5 mins <b>(Google Maps)</b>
    <br/>
    <br/>
    <span style="color: #3335D3">Equipment:</span>
    <br/>PPE <br/>Straps <br/>Air Ride <br/>Lift-gate <br/>Pallet Jack <br/>Load bars <br/>E-tracks <br/>
    <br/>
    <span style="color: #3335D3">Dockhigh:</span>
    <br/>{{ letter.dock_high }}
    <br/>
    <span style="color: #E92828">BID AVAILABLE FOR 10 MINS</span>
    <br/><br/>
    __________________________
    <br/><br/>
    Sincerely,<br/>
    {{ letter.account }}<br/>
    Office: <a href="tel:+12248800000">(224)-880-0000</a> Ext. 403<br/>
    Web: <a style="color: blue;" href="https://wiserinc.us/">wiserinc.us</a>
    <br/>
    <img style="width: 150px" src="https://ann-s3.s3.amazonaws.com/media/Wiser%20Inc/company/files/logo.png"/>
</body>
</html>
